<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.site')%>:</th>
    <td><%= @service.site %></td>
  </tr>
  <tr>
    <th><%= t('attributes.host')%>:</th>
    <td><%= @service.host %></td>
  </tr>
  <tr>
    <th><%= t('attributes.service_description')%>:</th>
    <td><%= link_to @service.service_description, @service.site.nagios_service_link(
              @service.host, @service.service_description),
              target: :blank %></td>
  </tr>
  <tr>
    <th><%= t('attributes.id')%>:</th>
    <td><%= @service.id %></td>
  </tr>
</table>

<div class="btn-toolbar" role="toolbar">
  <%= back_link %>
</div>
