<h1><%= t('controller.acknowledges') %></h1>

<table id="dataTable" class="table table-bordered table-striped dataTable">
<thead>
  <tr>
    <th><%= t('attributes.host_name') %></th>
    <th><%= t('attributes.service_description') %></th>
    <th><%= t('attributes.state') %></th>
    <th><%= t('attributes.plugin_output') %></th>
  </tr>
</thead>
<tbody>

<% @acknowledges.each do |acknowledge| %>
  <tr>
    <td><%= acknowledge.host_name %></td>
    <td><%= acknowledge.description %></td>
    <%= show_state(acknowledge.state) %>
    <td><%= acknowledge.plugin_output %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= back_link %>
