<h1><%= t('controller.acknowledges') %></h1>

<%= form_tag(
      url_for(controller: :acknowledges, action: :create),
      method: :post, role: 'form'
    ) do %>

  <%= hidden_field_tag :filter, @filter %>

  <div class="form-group">
    <table id="dataTable" class="table table-bordered table-striped dataTable">
      <thead>
        <tr>
          <th class="center nosort"><%= check_box_tag "checkAll" %></th>
          <th><%= t('attributes.host_name') %></th>
          <th><%= t('attributes.service_description') %></th>
          <th><%= t('attributes.state') %></th>
          <th><%= t('attributes.plugin_output') %></th>
          <th><%= t('attributes.age') %></th>
          <th><%= t('attributes.last_time_ok') %></th>
          <th>Svc</th>
        </tr>
      </thead>
      <tfoot>
	<tr>
	  <th class="winzig"></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	</tr>
      </tfoot>
      <tbody>
        <% @acknowledges.each do |ack| %>
          <tr>
            <td class="nosort center"><%= check_box_tag "service_ids[]", ack.id %></td>
            <td><%= ack.host_name %></td>
            <td><%= link_to ack.description, 
                    ack.site.nagios_service_link(ack.host_name, ack.description),
                    target: :blank %></td>
            <%= show_state(ack.state) %>
            <td><%= ack.plugin_output %></td>
            <td class="center"><%= (Time.now.to_i - ack.last_time_ok.to_i)/86400 %></td>
            <td><%= Time.at(ack.last_time_ok).to_date.to_s %></td>
            <td class="center"><%= link_to ack.service_id, service_path(ack.service_id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="form-group">
     <label>
       <%= check_box_tag 'merge' %> 
       <%= t('ack4nagios.merge_acknowledges') %>
     </label>
  </div>

  <div class="form-group">
    <%= label_tag 'comment', t('ack4nagios.nagios_comment') +
          '(' + t('ack4nagios.mandantory') + '): ' %>
    <%= text_field_tag 'comment', nil, class: 'form-control' %>
  </div>
  
  <div class="btn-toolbar">
    <%= back_link %>
    <%= submit_tag("Ticket", class: "btn btn-primary") if defined? Ottrick %>
    <button class="btn btn-default disabled">Mail</button>
    <%  submit_tag("Mail", class: "btn btn-primary") %>
    <%= submit_tag("Acknowledge", class: "btn btn-primary") %>
    <%= submit_tag("Test", class: "btn btn-default") %>
    <%= link_to t('actions.reset_table'), "#", id: "reset_table", class: "btn btn-default" %>
  </div>
<% end %> <!-- end form -->


