<div class="container">
  <%= simple_form_for(@site,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :name
       %>
      <%= f.input :connection_type, collection: Site::CONNECTION_TYPES,
		  include_blank: false
       %>
      <%= f.input :uri
       %>
      <%= f.association :otrs_queue if defined? Ottrick
       %>
      <%= f.input :nagios_service_url
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
