<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.name')%>:</th>
    <td><%= link_to @site.name, acknowledges_path(site: @site) %></td>
  </tr>
  <tr>
    <th><%= t('attributes.connection_type')%>:</th>
    <td><%= @site.connection_type %></td>
  </tr>
  <tr>
    <th><%= t('attributes.uri')%>:</th>
    <td><%= @site.uri %></td>
  </tr>
  <tr>
    <th><%= t('attributes.otrs_queue')%>:</th>
    <td><%= @site.otrs_queue %></td>
  </tr>
  <tr>
    <th><%= t('attributes.nagios_service_url')%>:</th>
    <td><%= @site.nagios_service_url %></td>
  </tr>
</table>

<div class="btn-toolbar" role="toolbar">
  <%= back_link %>
  <%= edit_link(@site) %>
  <%= delete_link(@site) %>
  <%= new_link Site %>
</div>
